body{
  background-color: hsl(229, 57%, 11%);
	display:flex;
	justify-content:center;
	align-items:center;
	padding:250px;
	flex-wrap:wrap;}
	
.box1{min-width:250px;
height:110px;
background-color:hsl(228, 56%, 26%);
border-radius:10px 70px 10px 10px;
margin-left:40px;
display:flex;
flex-direction:column;
align-items:center;
padding:30px 90px 30px 0;}	

.icon{border:10px solid hsl(228, 56%, 6%);
background-color:hsl(228, 56%, 6%);
border-radius:5px;
margin-top:10px;}

.box2{
background-color:hsl(228, 56%, 26%);
height:150px;
max-width:530px;
border-radius:10px 10px 10px 10px;
margin:25px 0 0 40px;
padding-left:20px;}

.mark-svg{margin-left:130px;}

.polygon{margin-left:260px;
position:relative;
bottom:210px;
padding:50px 0 0 50px;}            

.storage{
color:silver;}

.box2-1{width:460px;   
height:15px;
background-color:hsl(229, 57%, 11%);
border-radius:6px 6px 6px 6px;}

.box2-2{
width:340px; 
height:15px;
position:relative;
bottom:16px;
border-radius:10px 10px 10px 10px;
background:linear-gradient(85deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%),white);}


.hang{
width:150px;
height:50px;
background-color:hsl(0 0% 100%);
border-radius:10px 10px 10px 10px;
text-align:center;
padding-top:20px;}


.gig1{color:hsl(0 0% 100%);
display:flex;
justify-content:space-between;}

	
@media(min-width:280px){
	.box2-1{ width:280px;}
	.box2-2{ width:200px;}

	.box2{width:300px;
	padding-right:30px;}
	
	.mark-svg{display:none;}
	
	.polygon{position:relative;
	right:220px;
	margin-top:150px;}}	
	
@media(min-width:320px){
	.box2-1{ width:280px;}
	.box2-2{ width:200px;}

	.box2{width:300px;
	padding-right:30px;}
	
	.mark-svg{display:none;}
	
	.polygon{position:relative;
	right:220px;
	margin-top:150px;}}	
	
@media(min-width:1000px){
  .hang{right:120px;
  position:relative;
  bottom:100px;}
  
  .mark-svg{display:block;
 position:relative;
 right:120px;
 bottom:105px;}
  
  .polygon{margin-left:450px;
position:relative;
bottom:290px;
padding:50px 0 0 50px;}
  
}

	



